h1, h2, h3, h4 {
    font-family: 'Barclaycard Co Lt', sans-serif;
    color: #018fd0;
    margin-top: 0;
  }
  
  h1 {
    font-size: 45px;
    text-align: center;
  }
  
  h2 {
    font-size: 25px;
  }
  
  h3 {
    color: #5224a0;
    font-size: 16px;
  }